.title {
    /* text-align: center; */
    margin-left: 1rem;
    margin-top: 1.2rem;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .col {
  }
  
  .videos {
    display: flex;
    flex-direction: row;
  }
  
  .videobutton {
    background-color: skyblue;
  }
  
  