.title {
    /* text-align: center; */
    margin-left: 1rem;
    margin-top: 1.2rem;
  }
  
.wrapper {
  display: flex;
  flex-direction: row;
}
  
.stopContainer {
   display: flex;
    flex-direction: column;
}

.videos {
  display: flex;
  flex-direction: column;
}

.videobutton {
  background-color: skyblue;
}

.localVideo , .remoteVideo {
  border: .1rem;
  border-style: solid;
  border-color: black;
  margin: 1rem;
  height: 21rem;
}